<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <style>
    ul{
      list-style: none;
    }
    li{
      float: left;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">相册</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">全部相册</a></li>
          <li><a href="/pic/toUpload">上传图片</a></li>
          <li><a href="/dir/toCreate">新建相册</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div>
    <form action="/pic/doUpload" method="post" enctype="multipart/form-data">
      <h1>请选择文件夹：</h1>
      <select name="dirName">
        <% for(var i=0;i<dir.length;i++){ %>
          <option value="<%= dir[i] %>"><%= dir[i] %></option>
        <% } %>
      </select>
      <h1>请求选择图片</h1>
      <input type="file" name="pic">
      <input type="submit" value="上传">
    </form>
  </div>
</body>
</html>